<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado libre</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <header class="header">
        <div class="header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo" alt="">
            <div class="container-search">
                <div class="search-bar">
                    <input type="" placeholder="Buscar productos">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                </div> 
            </div>
            <div class="h2">
                <h2 class="compra">
                    <i class="fas fa-hand-holding-usd"></i>
                    compra en cuotas y sin tarjeta de credito
                </h2> 
            </div>  
        </div>
        
        <a href="#" class="burguer-menu">
            <i class="fas fa-bars"></i>
        </a>
        
        <nav class="nav-bot-bar">
            <ul class="top-list">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">vender</a></li>
                <li><a href="#">ayuda</a></li>
            </ul>
            
            <ul class="bot-list">
                <li><a href="/register">crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login"> ingresa <i class="fas fa-sign-out-alt"></i></a></li>
                <li><a href="#">mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    
    <main class="home">
        <div><img src="images/banner.jpg" alt="imagen de ofertas" width="100%" class="banner"></div>
        <section class="productos">
            <h3 class="section-tittle">Basado en tu última visita</h3>
            <article class="card">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Foto de cafetera Moulinex" width="100%">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>   
                    <div class="product-info">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>       
                    <div class="descripcionH5">
                        <h5 class="descripciones">Cafetera Moulinex</h5>
                    </div>
                    
                </div>
                
            </article>
            
            <article class="card">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Foto de cafetera Moulinex" width="100%">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>   
                    <div class="product-info">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>       
                    <div class="descripcionH5">
                        <h5 class="descripciones">MacBook Pro 2019</h5>
                    </div> 
                </div>  
            </article>
            
            <article class="card">
                <img src="../images/img-samsung-galaxy-s10.jpg" alt="Foto de cafetera Moulinex" width="100%">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>   
                    <div class="product-info">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                    </div>       
                    <div class="descripcionH5">
                        <h5 class="descripciones">Samsung Galaxy S10</h5>
                    </div> 
                </div>  
            </article>
            
            <article class="card">
                <img src="/images/img-tv-samsung-smart.jpg" alt="Foto de cafetera Moulinex" width="100%">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>   
                    <div class="product-info">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                    </div>       
                    <div class="descripcionH5">
                        <h5 class="descripciones">SmartTv Samsung 43"</h5>
                    </div> 
                </div>  
            </article>
        </section>
        <section class="productos">
          <h3 class="section-tittle">Sección de Ofertas</h3>
          <article class="card">
              <img src="/images/img-cafetera-moulinex.jpg" alt="Foto de cafetera Moulinex" width="100%">
              <div class="card-content">
                  <div class="icon-truck">
                      <i class="fas fa-truck"></i>
                  </div>   
                  <div class="product-info">
                      <p class="precios">$6.770</p>
                      <p class="descuentos">40% OFF</p>
                  </div>       
                  <div class="descripcionH5">
                      <h5 class="descripciones">Cafetera Moulinex</h5>
                  </div>
                  
              </div>
              
          </article>
          
          <article class="card">
              <img src="/images/img-macbook-pro-2019.jpg" alt="Foto de cafetera Moulinex" width="100%">
              <div class="card-content">
                  <div class="icon-truck">
                      <i class="fas fa-truck"></i>
                  </div>   
                  <div class="product-info">
                      <p class="precios">$230.000</p>
                      <p class="descuentos">20% OFF</p>
                  </div>       
                  <div class="descripcionH5">
                      <h5 class="descripciones">MacBook Pro 2019</h5>
                  </div> 
              </div>  
          </article>
          
          <article class="card">
              <img src="../images/img-samsung-galaxy-s10.jpg" alt="Foto de cafetera Moulinex" width="100%">
              <div class="card-content">
                  <div class="icon-truck">
                      <i class="fas fa-truck"></i>
                  </div>   
                  <div class="product-info">
                      <p class="precios">$70.500</p>
                      <p class="descuentos">10% OFF</p>
                  </div>       
                  <div class="descripcionH5">
                      <h5 class="descripciones">Samsung Galaxy S10</h5>
                  </div> 
              </div>  
          </article>
          
          <article class="card">
              <img src="/images/img-tv-samsung-smart.jpg" alt="Foto de cafetera Moulinex" width="100%">
              <div class="card-content">
                  <div class="icon-truck">
                      <i class="fas fa-truck"></i>
                  </div>   
                  <div class="product-info">
                      <p class="precios">$23.200</p>
                      <p class="descuentos">5% OFF</p>
                  </div>       
                  <div class="descripcionH5">
                      <h5 class="descripciones">SmartTv Samsung 43"</h5>
                  </div> 
              </div>  
          </article>
        </section>    
    </main>
    
    
    <footer class="footer">
        <article class="article">
            <i class="fas fa-credit-card"></i>
            <br>
            </h5>Paga con tarjeta o con efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="article">
            <div class="present">
                <i class="fas fa-gift"></i></i>
                <br>
            </div>
            </h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="article">
             <i class="fas fa-user-shield"></i></i>
            <br> 
            </h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        <p class="copy">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>
